* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;    
}

.navigation__menu {
  display: flex;
  align-items: center;
}

.navigation__list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-item {
  text-decoration: none;
  color: #000000;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  margin-right: 25px;
  cursor: pointer;
}

.navigation-item:hover {
  transition: all .5s;
  transform: scale(1.2);
  color: hsla(0, 100%, 50%, 0.3);
}

.h1-title {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  text-transform: capitalize;
  font-style: italic;
  color: red;
  text-shadow: 2px 2px 3px #000;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: 1rem auto;    
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px; 
  align-items: center;
  background-color: #c1c1c1;
  border-radius: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.image-container{
  width: 300px;
  height: 300px;
  margin: 10px auto;
  background-position: left; 
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.content-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  margin: 0 1rem;
}

.card-name {
  text-align: center;
  font-size: x-large;
  color: #fff;
  text-shadow: 2px 2px 3px hsla(0, 100%, 50%, 0.3);
  margin: 10px 0;
}

.card-description {
  text-align: justify;
  font-size: 1.2rem;
  text-indent: 1rem;
  margin: 5px;
}

.options-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.items-per-page, .search {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.items-per-page-btn, .search-btn {
  background-color: hsla(0, 100%, 50%, 0.3);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.1rem .5rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.items-per-page-btn:focus, .search-btn:focus {
  outline: 0;
}

.items-per-page-btn:after, .search-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.items-per-page-btn:hover:after, .search-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

.pagination-btns {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.pagination-btn {
  width: 50px;
  height: 25px;
  border: 1px solid hsla(0, 100%, 50%, 0.3);
  color: #fff;
  border-radius: 50%;
}

.not-active-btn {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.current-btn {
  background-color: hsla(0, 100%, 50%, 0.3);
  border: 1px solid hsla(0, 100%, 50%, 0.5);  
}

.active-btn {
  border: 1px solid hsla(0, 100%, 50%, 0.5);
  color: #292929;
  cursor: pointer;
  background-color: #fff;
}

.active-btn:hover {
  background: hsla(0, 100%, 50%, 0.1);
} 

.search-input {
  border: 2px solid #000000;
  height: 25px;
  cursor: pointer;
}

textarea:focus, input:focus{
  outline: none;
  border-color: hsla(0, 100%, 50%, 0.3);
  transform: scaleY(1.2);
}

.active {
  color: red;
}

@media (max-width: 768px) {
  .navigation__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navigation-item {
    margin-top: 10px;
  } 
}

@media (max-width: 320px) {
  .navigation__list {
    flex-direction: column;
    justify-content: center;
  }
}